<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
	<link rel="stylesheet" href="{{url_for('static', filename='css/styles.css') }}"">	
</head>
<body>

    <header class="header">
        <nav class="nav">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Saved Tweets</a></li>
                <li><a href="#">Settings</a></li>
            </ul>
        </nav>

    </header>
	